nav {
    max-width: 800px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 50px 0;
    margin-top: 0;
    vertical-align:top;
    text-align: center;
    display: inline-block;

    
}

#logo {
    float: left;
    padding-left: 100px 0;
    padding-right: 100px 0;
    
}

nav ul {
    text-align: center;
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, rgba(255,161,239,1)), color-stop(80, rgba(255,59,144,1)));
    width: 100%;
    box-shadow: 0 0 25px rgba(255, 20, 147, 0.8), inset 0 0 1px rgba(255, 255, 255, 0.6);
    display: inline-block;
    
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
    color: rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    font-size: 17px;
    
    text-decoration: none;
    display: block;
    padding: 14px 35px 14px;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 1);
    
    font-weight: bold;
    
}